PORT=3011
NODE_ENV=development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bin_ecommerce
POSTGRES_PASSWORD=changeme_postgres
POSTGRES_DB=bin_ecommerce_order
CART_SERVICE_URL=http://localhost:3010
AUTH_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_URL=http://localhost:3008
INTERNAL_SERVICE_TOKEN=dev-media-auth-internal-secret
